@model BeauitySaloonWeb.Models.ViewModel.Salons.SalonInputModel
@{
    this.ViewData["Title"] = "Add Salon";
    var categories = this.ViewData["Categories"] as SelectList;
    var cities = this.ViewData["Cities"] as SelectList;
}

<div class="col-lg-6">
    <h2>New Salon</h2>
    @using (Html.BeginForm("AddSalon", "AdminSalons",FormMethod.Post,new {@class= "pt-4" }))
            {

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x=>x.Name,new {@class= "form-control" , @required = "required" })
                <span>@Html.ValidationMessageFor(x => x.Name,null, new { @class = "text-danger" })</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Image</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Image, new { @type="file", @class = "form-control-file image-upload", @required = "required" })
                <span>@Html.ValidationMessageFor(x => x.Image, null, new { @class = "text-danger" })</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Category</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(x => x.CategoryId, categories, new { @class = "form-control" })
                <span>@Html.ValidationMessageFor(x => x.CategoryId, null, new { @class = "text-danger" })</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">City</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(x => x.CityId, cities, new { @class = "form-control" })
                <span>@Html.ValidationMessageFor(x => x.CityId, null, new { @class = "text-danger" })</span>

            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Address, new { @class = "form-control", @required = "required" })
                <span>@Html.ValidationMessageFor(x => x.Address, null, new { @class = "text-danger" })</span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 text-right">
                <button type="submit" class="btn btn-success"
                       >
                    Add Salon
                </button>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-danger" href="/Administration/AdminSalons/Index">Cancel</a>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script src="~/js/upload-image.js" asp-append-version="true"></script>
}
