@model BeauitySaloonWeb.Models.ViewModel.Salons.SalonsListViewModel
@{
    this.ViewData["Title"] = "Salons";
}
@{
    if (Model.Salons != null)
    {
        <h2>
            All Salons (@Model.Salons.Count())
            <span>
                <a class="btn btn-info" href="/Administration/AdminSalons/AddSalon">Add New Salon</a>
            </span>
        </h2>
        <table class="table table-bordered table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Category</th>
                    <th scope="col">City</th>
                    <th scope="col">Address</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Appointments</th>
                    <th scope="col">Delete Button</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var salon in this.Model.Salons)
                {
                    <tr>
                        <th scope="row">@salon.Name</th>
                        <td>
                            <img class="align-self-center" src="@salon.ImageUrl" style="width:180px;height:120px;">
                        </td>
                        <td>@salon.CategoryName</td>
                        <td>@salon.CityName</td>
                        <td>@salon.Address</td>
                        <td><strong>@salon.Rating.ToString("F") / 5.00</strong> from <strong>@salon.RatersCount</strong> votes</td>
                        <td>@salon.AppointmentsCount</td>
                        <td>
                            @if (salon.Id.StartsWith("seeded"))
                            {
                                <div class="text-muted" style="font-size:smaller">
                                    Seeded Data <br />Cannot Be Deleted
                                </div>
                            }
                            else
                            {
                                using (Html.BeginForm("DeleteSalon", "AdminSalons", new { id = salon.Id }, FormMethod.Post))
                                {
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        Delete
                                    </button>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2>
            All Salons (0)
            <span>
                <a class="btn btn-info" href="/Administration/AdminSalons/AddSalon">Add New Salon</a>
            </span>
        </h2>
    }
}

