@{
    if (User.Identity.IsAuthenticated)
    {
        <li>
            <a asp-area="Identity"  title="Manage">Hello @(this.User.Identity.Name)!</a>
        </li>
        if (HttpContext.Current.User.IsInRole("Administration"))
        { 
            <li>
                <a href="~/Administration/Dashboard/Index" title="Admin">Admin</a>
            </li>
        }
        <li>
            @using (Html.BeginForm("Logoff", "Account", FormMethod.Post, new { @class = "form-inline", role = "form" }))
            {
            @Html.AntiForgeryToken()
                @*<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(Html.Action("Index", "Home", new { area = string.Empty }))">
                    </form>*@
                <button class="btn btn-dark" type="submit">Logout</button>
            }
        </li>
    }
    else
    {
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>

        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    }
}


